<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Merhaba, Sayın <%= @user.full_name %> TAC Emailiniz Onaylandi. <br>
  </body>
</html>
