<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Merhaba, Sayın <%= @user_name %> yeni şifreniz <%= @new_pw %>  <br>
  </body>
</html>
