<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Merhaba <%= @user.full_name %>'<%= @user.g_year %>, <br><br>

    TAC Mezun Mobil uygulamasına kaydın uygulama sistem yöneticisi tarafından onaylanmadı.<br><br>

    Bir yanlışlık olduğunu düşünüyorsan tarsusamerikankoleji@gmail.com adresine konuyla ilgili mesaj gönderebilirsin.<br><br>

    TAC Mezun Mobil
  </body>
</html>
