<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Merhaba <%= @user.full_name %>'<%= @user.g_year %>, <br><br>

    TAC Mezun Mobil uygulamasına kaydın onaylandı.<br><br>

    Uygulamaya kayıt olduğun e-posta adresi ve şifre ile giriş sağlayabilirsin.<br>
    Uygulama ile ilgili yorum, öneri ve katkılarını bekliyoruz.<br><br>

    TAC Mezun Mobil
  </body>
</html>
