<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Merhaba TAC Mobile'a Hosgeldiniz. <br>
    <a href="<%= @url %>">Onaylama Linki</a>
  </body>
</html>
