<div class="confirmation-card">
  <div class="confirmation-card-logo-wrapper">
   <%= image_tag "tik.png", class:'confirmation-card-logo'%>
  </div>
  <div class="confirmation-card-content">
    <h4 class="confirmation-card-title">E-posta adresinizi doğruladınız, teşekkürler.</h4>
    <p class="confirmation-card-message">Kayıt işleminin tamamlanması için <strong>TAC Mezun Mobil uygulaması sistem yöneticisinin bilgilerinizi onaylamasını bekliyoruz.</strong> Mezuniyet bilgileriniz onaylanınca size bilgilendirme e-postası göndereceğiz.</p>
  </div>
</div>


