<div class="confirmation-card">
  <div class="confirmation-card-logo-wrapper">
   <%= image_tag "tik.png", class:'confirmation-card-logo'%>
  </div>
  <div class="confirmation-card-content">
    <h4 class="confirmation-card-title">Şifrenizi başarıyla sıfırladınız.</h4>
    <p class="confirmation-card-message"><strong>Yeni oluşturduğunuz şifreniz ile</strong> uygulamaya giriş yapabilirsiniz.</p>
    <br>
    <p class="confirmation-card-message"><strong>TAC Mezun Mobil</strong></p>
  </div>
</div>