<h1><%= @current_user.full_name %>'<%= @current_user.g_year %> e-posta adresini doğruladı</h1>

<p> Kullanıcıyı onaylamak için aşağıdaki adrese gidin.</p>

<p>https://tac-ruby.herokuapp.com/admin/users/<%= @current_user.id %></p>
