<p>Merhaba <%= @resource.full_name %>'<%= @resource.g_year %>,</p>

<p>TAC Mezun Mobil uygulaması için şifre değiştirme isteğinde bulunuldu. Aşağıdaki bağlantıdan bu işlemi gerçekleştirebilirsiniz:</p>

<p><%= button_to 'Şifremi değiştir', edit_password_url(@resource, reset_password_token: @token), style: 'background-color: #ff0000;border: none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;'%></p>

<p>Veya aşağıdaki bağlantıyı kopyalayarak tarayıcına yapıştırabilirsin:</p>

<p><%= edit_password_url(@resource, reset_password_token: @token).to_s %></p>

<p>Eğer bu değişikliği siz talep etmediyseniz, bu mesajı gözardı edebilirsiniz.</p>

<p>TAC Mezun Mobil</p>